/* 페이지 css */
/* 메인 홈 화면 */

.main {
    margin-top: 120px;
    height: 1200px;
    display: flex;
    justify-content: center; 
}



.haadline {
    position: absolute; /* 부모 요소를 기준으로 절대 위치 */
    top: 50%;           /* 부모 요소의 높이의 50% 위치로 이동 */
    left: 55%;          /* 부모 요소의 너비의 50% 위치로 이동 */
    margin-top: 50px;
    height: 100px;
    text-align: center;
}



.correction {
    width: 1100px; 
    height: 950px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute; /* 부모 요소를 기준으로 절대 위치 */
    top: 70%;           /* 부모 요소의 높이의 50% 위치로 이동 */
    left: 58%;          /* 부모 요소의 너비의 50% 위치로 이동 */
    transform: translate(-50%, -50%);
   
}



